[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jesse Strangfeld (jstrangfeld)
[access "refs/for/refs/*"]
	read = group user/Jesse Strangfeld (jstrangfeld)
	push = group user/Jesse Strangfeld (jstrangfeld)
	label-Code-Review = -2..+2 group user/Jesse Strangfeld (jstrangfeld)
	label-Verified = -1..+1 group user/Jesse Strangfeld (jstrangfeld)
	rebase = group user/Jesse Strangfeld (jstrangfeld)
	removeReviewer = group user/Jesse Strangfeld (jstrangfeld)
	submit = group user/Jesse Strangfeld (jstrangfeld)
[access "refs/heads/*"]
	read = group user/Jesse Strangfeld (jstrangfeld)
	create = group user/Jesse Strangfeld (jstrangfeld)
	push = +force group user/Jesse Strangfeld (jstrangfeld)
	pushMerge = group user/Jesse Strangfeld (jstrangfeld)
[access "refs/tags/*"]
	push = +force group user/Jesse Strangfeld (jstrangfeld)
	pushTag = group user/Jesse Strangfeld (jstrangfeld)
	pushSignedTag = group user/Jesse Strangfeld (jstrangfeld)
